@import url(homepage-hero.css);

@keyframes slide-in{
    0%{
        margin-top: -70px;
    }
    100%{
        margin-top: 0px;
    }   
}

.features, .products, .myob, .why-us{
    text-align: center;
    margin-top: 140px;
}

.card-container{
    width: 70%;
    margin-left: 15%;
    margin-top: 50px;
}

.features .card{
    display: inline-block;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 7px;
    border: 1px solid #ccc;
    transition: 0.3s ease;
}

.features .card:hover{
    box-shadow: 0px 7px 15px #2224;
}

.features .card .icon{
    background: linear-gradient(45deg, var(--light-blue), var(--dark-blue));
    display: inline-block;
    padding: 20px;
    height: 30px;
    border-radius: 50%;
}

.features .card .icon img{
    height: 30px;
    filter: invert(1);
}

.products .product{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    margin: 50px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: 0.3s ease;
    text-decoration: none;
    color: #222;
}

.products .product:hover{
    box-shadow: 0px 7px 15px #2225;
}

.products .product h2{
    font-size: 28px;
    margin: 0;
    margin-top: 30px;
}

.products .product img{
    height: 100px;
}


@media(max-width: 673px){
    .products .product{
        margin: 10px 10px;
    }

    .board img{
        width: 50vw;
    }

    .first-product{
        margin-top: 40px !important;
    }
}

.why-us .item-container{
    margin-top: 50px;
    width: 70%;
    margin-left: 15%;
}

@media(max-width: 1024px){

    .wa p{
        padding-right: 20px;
    }

    .wa:hover{
        width: 50px;
    }
    
    .wa:hover p{
        transform: translateX(10px);
    }

}