@import url(homepage-hero.css);

@keyframes slide-in{
    0%{
        margin-top: -70px;
    }
    100%{
        margin-top: 0px;
    }   
}


@media(max-width: 673px){
    .products .product{
        margin: 10px 10px;
    }

    .board img{
        width: 50vw;
    }

    .first-product{
        margin-top: 40px !important;
    }
}

.why-us .item-container{
    margin-top: 50px;
    width: 70%;
    margin-left: 15%;
}

@media(max-width: 1024px){

    .wa p{
        padding-right: 20px;
    }

    .wa:hover{
        width: 50px;
    }
    
    .wa:hover p{
        transform: translateX(10px);
    }

}