@import url(homepage-hero.css);

@keyframes slide-in{
    0%{
        margin-top: -70px;
    }
    100%{
        margin-top: 0px;
    }   
}

.cat-showcase{
    margin-top: 100px;
}

.cat-container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
    place-items: center;
    justify-content: center;
    gap: 10px;
}

.cat-container a{
    display: inline-flex;
    text-decoration: none;
}

.cat-container .cat-box{
    height: 150px;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
}

.cat-container .cat-box h3{
    margin: 20px;
    font-size: 22px;
    padding: 0;
    color: #fff;
}

.cat-container .cat-box:nth-child(odd){
    background: linear-gradient(to bottom, #0000, #0000, #000), url("../img/img1.jpeg");
    background-size: cover;
    background-position: center;
}
.cat-container .cat-box:nth-child(even){
    background: linear-gradient(to bottom, #0000, #0000, #000), url("../img/img2.png");
    background-size: cover;
    background-position: center;
}

/* .cat-container .cat-box:nth-child(3){
    background: linear-gradient(to bottom, #0000, #0000, #000), url("../img/img1.jpeg");
    background-size: cover;
    background-position: center;
}
.cat-container .cat-box:nth-child(4){
    background: linear-gradient(to bottom, #0000, #0000, #000), url("../img/img2.png");
    background-size: cover;
    background-position: center;
} */

.cat-showcase .see-more-btn{
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    position: relative;
}

.cat-showcase .see-more-btn::after{
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 0%;
    margin-top: 10px;
    background: #000;
    transition: 0.3s ease;
}

.cat-showcase .see-more-btn:hover::after{
    width: 100%;
}

@media(max-width: 1024px){

    .wa p{
        padding-right: 20px;
    }

    .wa:hover{
        width: 50px;
    }
    
    .wa:hover p{
        transform: translateX(10px);
    }

    .cat-container a{
        width: 40%;
    }

    .cat-container .cat-box{
        width: 100%;
    }

    .cat-container .cat-box h3{
        font-size: 18px;
    }

    .img-showcase .img-container{
        gap: 10px;
    }

    .img-showcase .img-container a{
        width: 40%;
    }
}